
<div class="container">
  <div>
    <div
      #userGrid
      (dragstart)="onDragStart($event)"
      (dragover)="onDragOver($event)"
      (dragenter)="onDragEnter($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)"
      (dragend)="onDragEnd($event)"
      class="battleship-grid grid-user"
    ></div>
  </div>

  <div #computerGrid class="battleship-grid grid-computer"></div>
</div>

<div class="container hidden-info">
  <div class="setup-buttons" id="setup-buttons">
    <button
      *ngIf="!isGameStarted"
      id="start"
      class="btn"
      [class.disabled-color]="!allShipsPlaced"
      [disabled]="!allShipsPlaced"
      (click)="startGame()"
    >
      Start Game
    </button>
    <button
      *ngIf="!isGameStarted"
      id="rotate"
      class="btn"
      (click)="rotateShips()"
    >
      Rotate Your Ships
    </button>
  </div>
  <h3 id="whose-go" *ngIf="isGameStarted" class="info-text">
    {{ currentPlayer === "user" ? "Player Turn" : "Computers Turn" }}
  </h3>
  <h3 id="info" class="info-text">{{ infoMessageDisplay }}</h3>
</div>
<span class="a b c"></span>
<div
  class="container"
  (dragstart)="onDragStart($event)"
  (dragend)="onDragEnd($event)"
  (drop)="onDrop($event)"
  (mousedown)="shipIDMouseDown($event)"
>
  <div #displayGrid class="grid-display">
    <div
      class="ship"
      [ngClass]="
        isHorizontal ? 'destroyer-container' : 'destroyer-container-vertical'
      "
      draggable="true"
    >
      <div id="destroyer-0"></div>
      <div id="destroyer-1"></div>
    </div>
    <div
      class="ship"
      [ngClass]="
        isHorizontal ? 'submarine-container' : 'submarine-container-vertical'
      "
      draggable="true"
    >
      <div id="submarine-0"></div>
      <div id="submarine-1"></div>
      <div id="submarine-2"></div>
    </div>
    <div
      class="ship"
      [ngClass]="
        isHorizontal ? 'cruiser-container' : 'cruiser-container-vertical'
      "
      draggable="true"
    >
      <div id="cruiser-0"></div>
      <div id="cruiser-1"></div>
      <div id="cruiser-2"></div>
    </div>
    <div
      class="ship"
      [ngClass]="
        isHorizontal ? 'battleship-container' : 'battleship-container-vertical'
      "
      draggable="true"
    >
      <div id="battleship-0"></div>
      <div id="battleship-1"></div>
      <div id="battleship-2"></div>
      <div id="battleship-3"></div>
    </div>
    <div
      class="ship"
      [ngClass]="
        isHorizontal ? 'carrier-container' : 'carrier-container-vertical'
      "
      draggable="true"
    >
      <div id="carrier-0"></div>
      <div id="carrier-1"></div>
      <div id="carrier-2"></div>
      <div id="carrier-3"></div>
      <div id="carrier-4"></div>
    </div>
  </div>
</div>
