<div class="display-container">
    <div class="game-title">
      <div *ngIf="winningPlayer === 'Player'; else elseBlock" >Congratulations</div>
      <ng-template #elseBlock></ng-template>
      <div>{{ winningPlayer }}</div>
    </div>
    <div class="start-btn">
      <button mat-raised-button color="primary" (click)="returnToStart()" >Return to Start Page</button>
      <button mat-raised-button color="primary" (click)="startSinglePlayer()">Play Single Player</button>
      <button mat-raised-button color="primary" (click)="startMultiPlayer()">Play Multiplayer</button>
    </div>
  </div>